<div class="card mb-3 col-6">
    <div class="row">
        <div class="card-header pull-left">
            <h3> {{ article.votes }} </h3>
            <h4>Points</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title"> <a class="" href="{{ article.link }}">
                    {{ article.title }}
                </a></h5>
                <p><small>{{ article.domain() }}</small></p>
            <a href (click)="voteUp()">
                <i class="fas fa-arrow-up"></i>
                upvote
            </a>
            <a href (click)="voteDown()">
                <i class="fas fa-arrow-down"></i>
                downvote
            </a>
        </div>
    </div>
</div>
