<!-- Name: Sean Dowdall, Student No: s00210945, Date: 18/2/22 -->
<form>
  <fieldset class='form-group'>
  <legend>Add a link</legend>
  <div class="form-group">
  <label for="title">Title</label>
  <input name="title" class="form-control" placeholder="Enter link title" #newtitle>
  </div>

  <div>
  <label for="link">Link</label>
  <input name="link"  class="form-control" placeholder="Enter Url"  #newlink>
  </div>
  <button (click)="addArticle(newtitle, newlink)" class="btn btn-primary">Submit Link</button>
  </fieldset>
</form>

<app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
